@import "searchBar.less";
@import "seals-cards.less";
@import "loaders.less";

.home {
  .home_background {
    background-image: url("../images/background (1).png");
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: -1;
    margin-top: 135px;
  }

  .home_row {
    /* O valor original é 152px, mas foi colocado esse valor para dar o desconto do
    espaçamento naturando da tago span */
    min-width: 100%;
    margin-bottom: 75px;

    .home_col {
      margin-top: 25px;

      .home_title {
        margin-bottom: 40px;

        .span1 {
          color: #ff7900;
          font-size: 6rem;
          font-weight: 700;
          line-height: 84px;
        }
      }

      .home_long-text {
        color: #000;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 32px;
      }

      .home_cards {
        margin-top: 96px;
      }
    }
  }

  /* .home_row2 {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 86px;

    h3 {
      color: #071D41;
      text-align: center;
      font-size: 48px;
      font-weight: 300;
      line-height: 49px;
      margin-right: 17px;
    }
  } */

  .seals-total-card {
    .total-journals {
      padding: 8px 16px;
    }
  }

  .home_search {
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .home_fields-cards-title {
    text-align: center;
    color: #ff7900;
    font-size: 2rem;
    font-weight: 500;
  }

  .home_pagination {
    padding-right: 135px;
    display: flex;
    padding: 24px 0px;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    border-top: 1px solid #e2e2e2;
    margin-bottom: 56px;

    button {
      display: flex;
      height: 40px;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: transparent;
      color: #ff7900;
      border-radius: 4px;
      border: 1px solid #ff7900;

      &:active {
        background-color: #ff7900;

        > svg,
        path {
          fill: #fff !important;
        }
      }

      &.btn-disabled {
        cursor: not-allowed;
        border: 1px solid #e1e0e0;

        > svg,
        path {
          fill: #e1e0e0 !important;
        }

        &:active {
          background-color: transparent;
        }
      }
    }
  }
}

.home_fields-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .grade {
    width: 32%;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 16px;
    margin-right: 1%;
    margin-bottom: 16px;
    cursor: pointer;

    .field-card {
      display: flex;
      flex-direction: column;
    }
  }

  h3 {
    color: #000;
    font-weight: 700;
    margin: 2rem 0;
  }

  .svg-circle {
    width: 40px;
    height: 40px;
  }

  .issn {
    color: #071d41;
    text-transform: uppercase;
  }

  .publisher {
    color: #000;
  }

  .situation {
    color: #333;
  }

  .lastModified {
    color: #6a6a6a;
  }

  a {
    cursor: pointer;
  }

  a:hover {
    text-decoration: none;
  }
}

.list-cards {
  flex-direction: column !important;
  row-gap: 1rem;
  row-gap: 1rem;

  a {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #eee;
  }

  .field-card {
    display: flex;
    width: 100%;
    gap: 2rem;
    padding: 8px;
    border-radius: 8px;
    .card-body {
      width: 100%;

      h3 {
        margin: 0;
        padding: 0;
      }

      .list-footer {
        display: flex;
        width: 100%;
        gap: 1rem;

        span {
          line-height: 1.5rem;
        }
      }
    }
  }
}

.btn-list-grade {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .home_fields-cards {
    .grade {
      width: 48%;
    }
  }
}

@media screen and (max-width: 576px) {
  .home_fields-cards {
    flex-direction: column;
    .grade {
      width: 100%;
    }
  }
}
