@import "bootstrap"; /* Include bootstrap theme's less base */

/* Change variables to change colors and values through-out the theme */
@image-path: "../images";
@active-orange: #fff93c;
@dark-green: #137752;
/* Bootstrap variables as well */
@brand-primary: #0045a1;
// @body-bg: #5ab48a;
@grid-gutter-width: 20px;

/* Change specific styles below */
body {
  font-size: 14px;
  color: #333;
}
header {
  font-size: 16px;
  color: @dark-green;
}
.container {
  padding-left: 2rem;
  padding-right: 2rem;
  /* border-left: 2px solid @dark-green;
  border-right: 2px solid @dark-green; */
  background-color: #fff;
  border-radius: 0;
}
/* footer .container { border-bottom: 2px solid #137752; }
.alert { padding: 8px; }
.container-fluid {
  padding: 0;
} */

/* You can also organize these styles in separate files and @import them */
@import "home-page";

.navbar {
  height: 68px;
  border-radius: 0;
  display: flex;
  align-items: center;
  padding-right: 36px;
  padding-left: 36px;
  background: #F6F6F6;
  border-bottom: 1px solid #E2E2E2;
}

.nav{
  > li {
    > a {
      height: 68px;
      padding: 0 20px;

      color: #6A6A6A;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Open Sans, "sans-serif";
      font-size: 16px;
      font-style: normal;
      font-weight: 550;
      /* font-weight: 600; */
      line-height: 18.133px;

      &:hover {
        color: #6A6A6A;
        background-color: transparent;
        outline: none;
        border-bottom: 2px solid #6A6A6A;
      }
    }
  }
}

.navbar-nav {
 margin: 0 -10px !important;
}

.active-link, .active-link:hover {
  color: #071D41 !important;
  border-bottom: 2px solid #071D41 !important;
}

.logo-ibict {
  margin-right: 27.33px;
}

.logo-diadorim {
  margin-right: 32px;
}

.logo-ibict, .logo-diadorim {
  padding: 0 !important;

  &:hover {
    border-bottom: none !important;
  }
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
  > span{
    /* O valor original é 8px, mas foi colocado 6px pra compensar o espaçamento natural dos itens  */
    margin-left: 6px;
  }
}

#loginOptions {
  margin-left: 32px;
  width: 219px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 246px;
  background-color: #fff;
  padding: 0;
  background: linear-gradient(0deg, #071D41 0%, #071D41 100%), #FFF;
}

.social-media-icons {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  background-color: transparent;
  
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #FFF;
    text-decoration: none;
    text-align: center;

    span {
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Open Sans;
      font-size: 11px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0.5px;
    }
  }
}


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  
  .logo-rodape {
    margin: 8px 0;
  }

  .footer-adress {
    height: 52px;
    text-align: center;
    color: #071D41;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}



