@import "bootstrap"; /* Include bootstrap theme's less base */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import './customLess/scroll-bar.less';

/* Change variables to change colors and values through-out the theme */
@image-path: "../images";
@active-orange: #fff93c;
@dark-green: #137752;
/* Bootstrap variables as well */
@brand-primary: #0045a1;
// @body-bg: #5ab48a;
@grid-gutter-width: 20px;

/* Change specific styles below */
body {
  position: relative !important;
  min-height: 100% !important;
  margin: 0 auto !important;
  padding: 0;
  box-sizing: border-box;

  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.container {
  padding : 0px;
  margin: 0px;;
  /* border-left: 2px solid @dark-green;
  border-right: 2px solid @dark-green; */
  background-color: #fff;
  border-radius: 0;
}

.container, footer {
  width: 100%;
}

.container-fluid {
  padding: 0;
}

/* footer .container { border-bottom: 2px solid #137752; }
.alert { padding: 8px; }
.container-fluid {
  padding: 0;
} */

/* You can also organize these styles in separate files and @import them */
@import "home-page";

.navbar {
  height: 68px;
  border-radius: 0;
  display: flex;
  align-items: center;
  /* Embora esteja no figma, removi este padding para dar mais espaço ao navbar */
  /* padding-right: 36px;
  padding-left: 36px; */
  background: #F6F6F6;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 0;
}

.nav{
  display: flex;
  align-items: center;

  > li {
    > a {
      height: 68px;
      padding: 0 20px;
      color: #6A6A6A;
      font-size: 16px;
      font-weight: 600;
      line-height: 18.133px;

      &:hover, &:focus {
        height: 43px;
        color: #FFF;
        background-color: #071D41;
        outline: none;
        /* border-bottom: 2px solid #6A6A6A; */
      }
    }
  }
}

.navbar-nav {
 margin: 0 -10px !important;
}

.active-link, .active-link:hover {
  background-color: transparent !important;
  height: 60px !important;
  color: #071D41 !important;
  border-bottom: 2px solid #071D41 !important;
}

.logo-ibict {
  margin-right: 27.33px;
}

.logo-diadorim {
  margin-right: 32px;
}

.logo-ibict, .logo-diadorim {
  padding: 0 !important;

  &:hover {
    border-bottom: none !important;
    background-color: transparent !important;
  }
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
  > span{
    /* O valor original é 8px, mas foi colocado 6px pra compensar o espaçamento natural dos itens  */
    margin-left: 6px;
  }
}

#loginOptions {
  margin-left: 32px;
  width: 259px;
}

footer {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 246px;
  background-color: #fff;
  padding: 0;
  background: linear-gradient(0deg, #071D41 0%, #071D41 100%), #FFF;
}

.social-media-icons {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  background-color: transparent;
  
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #FFF;
    text-decoration: none;
    text-align: center;

    span {
      font-size: 11px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0.5px;
    }
  }
}


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  
  .logo-rodape {
    margin: 8px 0;
  }

  .footer-adress {
    height: 52px;
    text-align: center;
    color: #071D41;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
}

/* Home Page CSS */
.col {
  padding: 0;
}
.row {
  margin: 0;
}

.home {
  padding-left: 135px;
  /* max-width: 1440px; */
  min-width: 400px;
  max-width: 1500px;
  margin: 0 auto;

  /* .home_padding-left {
    padding-left: 135px;
  } */

  .home_padding-right {
    padding-right: 135px;
  }

  .home_background {
    background-image: url('../images/background-1x.png');
    background-position: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: -1;
    margin-top: -16px;
    /* Verificar a necessidade desse margin */
    /* margin-left: 3.8%; */
  }

  .home_row {
    /* O valor original é 152px, mas foi colocado esse valor para dar o desconto do
    espaçamento naturando da tago span */
    min-width: 100%;
    margin-bottom: 75px;
    
    .home_col {
      /* Este margin negativo é para compensar o margin aplicado */
      margin-left: 1%;

      .home_title {
        margin-top: 142px;
        margin-bottom: 40px;

        .span1 {
          color: #FF7900;
          font-size: 80px;
          font-weight: 700;
          line-height: 84px;
        }
      
        .span2 {
          color: #071D41;
          font-size: 80px;
          line-height: 84px;
        }
      }

      .home_long-text {
        color: #000;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
      }

      .home_cards {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        gap: 16px;
        margin-top: 96px;

        .home_card {
          width: 162px;
          height: 75px;
          display: flex;
          padding: 16px;
          justify-content: center;
          align-items: center;
          /* gap: 8px; */
          background: #FFF;
          border-radius: 8px;
          box-shadow: 0px 0px 74px 0px rgba(0, 0, 0, 0.16);
          /* transition: transform 0.2s ease-in-out; */
          transition: transform 0.5s;

          &:hover {
            cursor: pointer;
           /*  min-width: 210px !important;
            height: 97.19px !important; */
            transform: scale(1.2);
            margin: 0 5px;
            border-radius: 10.37px;
            box-shadow: 0px 0px 95.92587280273438px 0px rgba(0, 0, 0, 0.16);
          }

          .home-card_svg {
            display: flex;
            min-width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-right: 8px;

            &.universities {
              background-color: #000;
              box-shadow:  0px 0px 16px 0px rgba(0, 0, 0, 0.32);
            }
            &.publishers {
              background-color: #F21B0D;
              box-shadow: 0px 0px 16px 0px rgba(242, 27, 13, 0.32);
            }
            &.journals {
              background-color: #CCAA00;
              box-shadow: 0px 0px 16px 0px rgba(204, 170, 0, 0.32);
            }
            &.articles {
              background-color: #FF7900;
              box-shadow: 0px 0px 16px 0px rgba(255, 121, 0, 0.32);
            }
          }

          .home_card-text {
            height: 43px;

            span:nth-of-type(1) {
              color: #736C6C;
              font-size: 12px;
              font-weight: 600;
              line-height: 24px;
              letter-spacing: 0.5px;
            }

            span:nth-of-type(2) {
              text-align: center;
              font-size: 24px;
              font-weight: 700;
              line-height: 22px;
              letter-spacing: 0.5px;
            }

            &.universities {
              color: #071D41;
            }
            &.publishers {
              color: #F21B0D;
            }
            &.journals {
              color: #CCAA00;
            }
            &.articles {
              color: #FF7900;
            }
          }
        } 
      }
    }
  }

  .home_row2 {
    display: flex;
    justify-content: center;
    /* margin-top: 75px; */
    margin-bottom: 86px;

    h3 {
      color: #071D41;
      text-align: center;
      font-size: 48px;
      font-weight: 300;
      line-height: 49px;
    }
  }

  .home_search {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 0 41px 0;

    .action-buttons-left, .action-buttons-right {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0px 0px 74px 0px rgba(0, 0, 0, 0.16);  

      button {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #E8E8E8;
      }

      button:nth-of-type(1) {
        border-right: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        > svg {
          > path {
            fill: #363636;
          }
        }
        &.active {
          background: #E9E9E9;
        }
      }
      button:nth-of-type(2) {
        > svg {
          > path {
            fill: #00552B;
          }
        }
        &.active {
          background: #00FF80;
        }
      }
      button:nth-of-type(3) {
        border-left: none;
        > svg {
          > path {
            fill: #463A01;
          }
        }
        &.active {
          background: #FFD400;
        }
      }
      button:nth-of-type(4) {
        border-left: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        > svg {
          > path {
            fill: #E8FBFF;
          }
        }
        &.active {
          background: #00D4FF;
        }
      }
    }

    .action-buttons-right {
      .list-btn, .grade-btn {
        border: 1px solid #FF7900;
        > svg {
          > path {
            fill: #FF7900 !important;
          }
        }
        &.active {
          background: rgba(255, 121, 0, 0.20) !important;
        }
      }

      .list-btn {
        border-right: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      
      .grade-btn {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }

    .searchHomeContent {
      width: 100%;
      background: #FFF;
      color: #9A9A9A;
      border-radius: 4px;
      padding: 8px;
      box-shadow: 0px 0px 74px 0px rgba(0, 0, 0, 0.16);
      margin: 0 32px;

      .searchForm {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .searchForm_lookfor {
          min-width: 89%;
          display: flex;
          height: 40px;
          padding: 10px 16px;
          justify-content: center;
          align-items: center;
          gap: 24px;
          flex: 1 0 0;
          border-radius: 4px;
          border: 1px solid #E8E8E8;
          background: #FFF;
          margin-right: 8px;
        }

        .searchForm_type {
          display: none;
        }
      }

      .advanced-search-link {
        position: absolute;
        right: 117px;
        height: 95%;
        display: flex;
        align-items: center;
        color: #292A89;
        text-align: right;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-decoration-line: underline;
        background-color: #fff;
        border-radius: 8px;
        padding: 0;

        &:hover {
          cursor: pointer;
        }
      }

      button {
        display: flex;
        height: 40px;
        padding: 10px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        background: #FF7900;
        color: #FFF;
      }
    }
  }

  .home_fields-cards {
    margin-bottom: 79px;

    .col {
      .field-card {
        display: flex;
        padding: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid #EEE;
        background: #FFF;

        &:hover {
          cursor: pointer;
        }

        .svg-circle {
          display: flex;
          min-width: 40px;
          height: 40px;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          margin-right: 8px;
          margin-bottom: 24px;

          &.blue-seal {
            background-color: #00D4FF;
          }
          --.yellow-seal {
            background-color: #FFD400;
          }
          --.green-seal {
            background-color: #00FF80;
          }
          --.silver-seal {
            background: linear-gradient(153deg, #E1E0E0 -23.58%, rgba(255, 255, 255, 0.00) 45.5%), #E9E9E9;
          }
        }

        .card-body, .card-footer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 8px;
          flex: 1 0 0;
          align-self: stretch;
          letter-spacing: 0.5px;

          span:nth-of-type(1) {
            color: #6A6A6A;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
          }
          
          span:nth-of-type(2) {
            color: #000;
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
          }
        }

        .card-footer {
          span {
            letter-spacing: 0.5px !important;
            font-size: 12px !important;  
          }

          span:nth-of-type(1) {
            color: #071D41;
            font-weight: 700;
            line-height: 24px;
          }
          
          span:nth-of-type(2) {
            color: #000;
            font-weight: 400;
            line-height: 16px;
          }
        }
      }
    }
  }

  .home_pagination {
    padding-right: 135px;
    display: flex;
    padding: 24px 0px;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    border-top: 1px solid #E2E2E2;
    margin-bottom: 56px;

    button {
      display: flex;
      height: 40px;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: transparent;
      color: #FF7900;
      border-radius: 4px;
      border: 1px solid #FF7900;
    }
  }
}


