@import "bootstrap"; /* Include bootstrap theme's less base */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import './customLess/scroll-bar.less';
@import './customLess/header.less';
@import './customLess/footer.less';
@import './customLess/home.less';
@import './customLess/loaders.less';
@import './customLess/seal-colors.less';

/* Change variables to change colors and values through-out the theme */
@image-path: "../images";
@active-orange: #fff93c;
@dark-green: #137752;
/* Bootstrap variables as well */
@brand-primary: #0045a1;
// @body-bg: #5ab48a;
@grid-gutter-width: 20px;

/* Change specific styles below */
body {
  position: relative !important;
  min-height: 100% !important;
  margin: 0 auto !important;
  padding: 0;
  box-sizing: border-box;

  color: #000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.container {
  padding: 0px;
  margin: 0px;;
  /* border-left: 2px solid @dark-green;
  border-right: 2px solid @dark-green; */
  background-color: #fff;
  border-radius: 0;
}

.container, footer {
  width: 100%;
}

.container-fluid {
  padding: 0;
}

/* footer .container { border-bottom: 2px solid #137752; }
.alert { padding: 8px; }
.container-fluid {
  padding: 0;
} */

/* You can also organize these styles in separate files and @import them */
@import "home-page";

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
  > span{
    /* O valor original é 8px, mas foi colocado 6px pra compensar o espaçamento natural dos itens  */
    margin-left: 6px;
  }
}

#loginOptions {
  margin-left: 32px;
  width: 259px;
}

/* Home Page CSS */
.col {
  padding: 0;
}
.row {
  margin: 0;
}


